include ../../mixins/mixin.pug
html
  head
    title
    //meta(charset='utf-8')
    //meta(name='viewport', content='width=device-width,initial-scale=1')

    //- link(rel='stylesheet', href='/css/landos/main.css')
    //link(rel='stylesheet', href='/css/dash/bootstrap.min.css')  

    // link(rel='stylesheet', href='/css/landos/main.css')
    //link(rel='stylesheet', href='/css/landos/devices.css')
    //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic')

    //link(rel='stylesheet', href='/fonts/7-stroke/7-stroke.min.css')


  body



    br
    br
    br
    br
    a.nav-link.facebook-login(href='/auth/facebook') Continue with Facebook
                  