
a.btn.btn-primary(href="/auth/attach-grocery-to-user/59aea24fb147091e78051521") Attache

br
br
a.btn.btn-primary(href="/auth/attach-grocery-to-user/59aeb60fd633c213fc02f09f") Attache2

br
a.btn.btn-primary(href="/add/fav2/59ad416ced2a9b0f5c73c874") ADD FAV

