br

if data
  ul
    each val, index in data
      li= val.name + '( ' + val.id + ' ) ' 
        a(href='/delete/favorite/' + val.id) deletos
else
  h2 You don't add any favorite ingredient at this moment        