h1 Sample Functionality
p.lead In this sample application you can:
ul
  li
    a(href='/signup', class="btn") Signup for a local account
  li
    a(href='/login', class="btn") Login to your account using either a local account or social accounts

  li
    a(href='/clone/' + data.id, class="btn")= 'Clone >' + data.name