.col-xlg-4.col-md-6
  .list-group
    a.list-group-item.active(href="javascript:void(0)")
      h4.list-group-item-heading List 1
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
  
    a.list-group-item(href="javascript:void(0)")
      h4.list-group-item-heading List 2
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
  
    a.list-group-item(href="javascript:void(0)")
      h4.list-group-item-heading List 3
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus.


.col-xlg-4.col-md-6
  .list-group
    div
      h4.list-group-item-heading List 1
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
    div
      h4.list-group-item-heading List 1
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
    div
      h4.list-group-item-heading List 1
      p.list-group-item-text Donec id elit non mi porta gravida at eget metus.            
