.col-xlg-4.col-md-6
  .round-border
    a.border-item.active(href="javascript:void(0)")
      h4.list-group-item-heading List 1
      //p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
  
    a.border-item(href="javascript:void(0)")
      h4.list-group-item-heading List 2
      //p.list-group-item-text Donec id elit non mi porta gravida at eget metus.
  
    a.border-item(href="javascript:void(0)")
      h4.list-group-item-heading List 3
      //p.list-group-item-text Donec id elit non mi porta gravida at eget metus.