.col-xlg-4.col-md-6
 
  .panel.panel-bordered
    .panel-body
      h1 Body Heading
    
    .panel-footer Panel Footer

.col-xlg-4.col-md-6
 
  .panel.panel-bordered
    .panel-body
      h1 Body Heading
    
    .panel-footer Panel Footer

.col-xlg-4.col-md-6
 
  .panel.panel-bordered
    .panel-body
      h1 Body Heading
    
    .panel-footer Panel Footer

.col-xlg-4.col-md-6
 
  .panel.panel-bordered
    .panel-body
      h1 Body Heading
    
    .panel-footer Panel Footer
