h1 Login Page:
  ul.list-inline.list-unstyled
    //li
      a.btn.btn-primary(href='/local') Login with local account
    li
      a.btn.btn-primary(href='/auth/facebook') Login with Facebook
      //+button_facebook_login('btn btn-primary')
