.socialproof.feature2
  .container-techniq
    .flex.text-center
      .col-12
        h4.subheading
          | "Prior studies employing a variety of designs and measures provide mixed evidence that using a list is associated with improved dietary quality or weight."
        p.description
          | Which food-related behaviours are associated with healthier intakes of fruits and vegetables among women?

.socialproof
  .container-techniq
    .flex.text-center
      .col-12
        h4.subheading
          | Food shoppers who reported “always” using a shopping list had significantly higher dietary quality. ...
          | After applying a Bonferroni correction ... the association between those who always used a list and knowledge of eating fruits and vegetables, and trying to eat fewer calories [was eliminated].
        p.description

        | Using a Grocery List Is Associated with a Healthier Diet and Lower BMI Among Very High Risk Adults
          
