form#purchased(name="formsubmit", method="post", action="/create/ing/")
  input(type="text", name="name" value="Ingredientus")
  br
  input(type="text", name="departmentId" value=departmentId)
  br
  input(type="text", name="groceryId" value=groceryId)
  br
  input.btn.btn-success(type='submit', value='Save')