form#clear(name="formsubmit", method="post", action="/clearpurchased")
  
  br
  br
  input(type="text", name="groceryId" value="598397f9363a9c1b385bfbac")
  br
  input.btn.btn-success(type='submit', value='Save')