form#purchased(name="formsubmit", method="post", action="/addtopurchased")
  input(type="text", name="ingredients[]" value="598397fb363a9c1b385bfbc0")
  br
  input(type="text", name="ingredients[]" value="598397fb363a9c1b385bfbc0")
  br
  input(type="text", name="ingredients[]" value="598397fb363a9c1b385bfbbd")
  br
  input(type="text", name="ingredients[]" value="598397fb363a9c1b385bfbbf")
  br
  input(type="text", name="ingredients[]" value="598397fb363a9c1b385bfbc0")
  br
  br
  br
  input(type="text", name="groceryId" value="598397f9363a9c1b385bfbac")
  br
  input.btn.btn-success(type='submit', value='Save')