doctype html
html.no-js(lang='en')
  head

    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title  Demo 1
    



    include ../static/styles-select


    //if IE
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')

  body.demo-1
    block content  	
