
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')


script(src='/vendor/bootstrap/bootstrap.min.js')
script(src='/vendor/animsition/jquery.animsition.js')
script(src='/vendor/asscroll/jquery-asScroll.js')
script(src='/vendor/mousewheel/jquery.mousewheel.js')
script(src='/vendor/asscrollable/jquery.asScrollable.all.js')
script(src='/vendor/ashoverscroll/jquery-asHoverScroll.js')

// Plugins
script(src='/vendor/switchery/switchery.min.js')
// <script src="/vendor/intro-js/intro.js"></script>
// <script src="/vendor/screenfull/screenfull.js"></script>
// <script src="/vendor/slidepanel/jquery-slidePanel.js"></script>

// Plugins For This Page
//script(src='/vendor/editable-table/mindmup-editabletable.js')
//script(src='/vendor/editable-table/numeric-input-example.js')

// Scripts
script(src='/javascript/dash/core.js')
script(src='/javascript/dash/site.js')
// <script src="/javascript/dash/sections/menu.js"></script>
script(src='/javascript/dash/sections/menubar.js')
// <script src="/javascript/dash/sections/gridmenu.js"></script>
// <script src="/javascript/dash/sections/sidebar.js"></script>
script(src='/javascript/dash/configs/config-colors.js')
script(src='/javascript/dash/configs/config-tour.js')
script(src='/javascript/dash/components/asscrollable.js')
//script(src='/javascript/dash/components/animsition.js')
script(src='/javascript/dash/components/slidepanel.js')
// <script src="/javascript/dash/components/switchery.js"></script>

// Scripts For This Page
//script(src='/javascript/dash/components/editable-table.js')
//script(src='/javascript/dash/editable.js')



script(src='https://use.fontawesome.com/8b5217f583.js')
