
script(src='/javascript/isotope.pkgd.min.js')

script.
  $('.grid').isotope({
    itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
    percentPosition: true,
    masonry: {
      columnWidth: '.grid-sizer'
    }
  });

script.
  var $grid = $('.grid').isotope({
      itemSelector: '.element-item',
      layoutMode: 'fitRows'
    });