link(rel='apple-touch-icon', href='/images/apple-touch-icon.png')
link(rel='shortcut icon', href='/images/favicon.ico')

// Stylesheets
link(rel='stylesheet', href='/css/dash/bootstrap.min.css')
link(rel='stylesheet', href='/css/dash/bootstrap-extend.min.css')
link(rel='stylesheet', href='/css/dash/site.min.css')

// using this styles only for selects and lists
link(rel='stylesheet', href='/css/dash/a.css')



// Plugins
link(rel='stylesheet', href='/vendor/animsition/animsition.css')
link(rel='stylesheet', href='/vendor/asscrollable/asScrollable.css')
link(rel='stylesheet', href='/vendor/switchery/switchery.css')

link(rel='stylesheet', href='/vendor/slidepanel/slidePanel.css')


// Plugins For This Page
link(rel='stylesheet', href='/vendor/editable-table/editable-table.css')

// Fonts
link(rel='stylesheet', href='/fonts/web-icons/web-icons.min.css')
link(rel='stylesheet', href='/fonts/brand-icons/brand-icons.min.css')
link(rel='stylesheet', href='/fonts/font-awesome/font-awesome.min.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic')

// Scripts
script(src='/vendor/modernizr/modernizr.js')
script(src='/vendor/breakpoints/breakpoints.js')
script.
  Breakpoints();