// FAVICON
link(rel='icon', href='/images/favicon/favicon.ico')

// BOOTSTRAP CSS
link(rel='stylesheet', href='/css/home/plugins/bootstrap.min.css')
// FONT ICONS
//link(rel='stylesheet', href='/css/home/icons/icons.min.css')
// GOOGLE FONTS
link(href='http://fonts.googleapis.com/css?family=Raleway:300,400,600,700%7COpen+Sans:300,400,600,700%7CHandlee', rel='stylesheet')
// PLUGINS STYLESHEET
link(rel='stylesheet', href='/css/home/plugins/plugins.min.css')
// CUSTOM STYLESHEET
link(rel='stylesheet', href='/css/home/style.css')
// RESPONSIVE FIXES
link(rel='stylesheet', href='/css/home/responsive.css')
// COLORE STYLESHEET
// Change here the Main Color of the Site: Choose your favorite predefined color from assets/css/colors.css
link(rel='stylesheet', href='/css/home/colors/red.css', title='red')
//if lt IE 9
  script(src='/javascript/home/js/plugins/html5shiv.min.js')
  script(src='/javascript/home/js/plugins/respond.min.js')