extends ../../layouts/dashboard

block content
  .row.mt-120 
    .col-md-8
      

    .col-xlg-5.col-md-7.col-md-offset-3  
      h3 Create a new grocery list by clonning Ultimate Template
        .panel.panel-bordered
          .panel-body

          .panel-footer 
            include ../../forms/clone-grocery
