extends ../layouts/dashboard

block content
  .row
    .col-md-7.col-md-offset-3
      h2= name
        +dropdown(groceryId)
      
      h2= current_path
    section
      .col-md-7.col-md-offset-3  
        include ../partials/departments-select

        h4 You can go to particular Department by selecting it
    
        
    //section
      .col-md-12  
        include ../partials/departments-grid

 


    include ../static/scripts-select.pug