ul.list#footer
  li.list__item(style="padding-top: 15px;")
    .list__item__center.count-wrapper
      span.count= activeTodoCount
      | &nbsp;items left
      
      	 
    .list__item__right
      .list__item__label
        //if (have_completed_items)
        button#clear-completed(class= have_completed_items ? '': 'hide') Clear purchased 
        //else  
          // :todo fix this later
          button#clear-completed.hide Clear purchased 

br

#filters.button-bar(style="width:280px;margin:0 auto;") 
	
  .button-bar__item

    input(type="radio", name="segment-filter", data-filter='all')    
	
    button.button-bar__button All
    a.hide(href="#/all") All
	    
  .button-bar__item

    input(type="radio", name="segment-filter", data-filter='active')
    button.button-bar__button Active
    a.hide(href="#/active") Active
	
  .button-bar__item

    input(type="radio", name="segment-filter", data-filter='completed')
    button.button-bar__button Purchased
    a.hide(href="#/completed") Purchased   