li.list__item#todo-er
  .list__item__left
    label.checkbox
      input#toggle-all.checkbox__input.new-item(type="checkbox", name="c") 
					        
      .checkbox__checkmark
					      
  label.list__item__center
    input#new-todo(type="text", class="text-input", placeholder='Item name', autofocus='') 