each element in list

  - var isCompleted = element.completed ? 'completed' : '';
  li.list__item.list__item--tappable(data-element=element, class=isCompleted)
      include item-checkbox
      include item-center
      include item-right