extends ../layouts/dashboard

block content
  .row.mt-120 
    .col-md-8
      h1 Your bla bla is:
        .row
          .col-md-8

    .col-md-4
        .panel.panel-bordered
          .panel-body
            h4 Panel
          .panel-footer 
            | footer

    .col-md-8.col-md-offset-3
        .panel.panel-bordered
          .panel-body
            h3 Text
            h5 Text
          .panel-footer 
            | footer
